body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, red, orange, yellow,gold, green, blue,cyan, indigo, violet);
    background-size: 1000% 1000%;
    animation: gradientAnimation 50s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h1, h2, h3, h4, h5,h6 {
    font-size: x-large;
    color: #109edb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}